@model Taskify.Models.TeamViewModel

<div class="modal fade" id="inviteMemberModal" tabindex="-1" aria-labelledby="inviteMemberModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <form asp-action="InviteMember" asp-controller="Teams" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="inviteMemberModalLabel">Mời thành viên mới</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="teamId" value="@Model.Id" />
                    <div class="mb-3">
                        <label class="form-label fw-bold">Email thành viên</label>
                        <input type="email" name="email" class="form-control" required placeholder="nhap@email.com" />
                        <div class="form-text">Người được mời sẽ nhận được thông báo để tham gia.</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">Gửi lời mời</button>
                </div>
            </div>
        </form>
    </div>
</div>